<div class="container">
    
    <h4>User Dashboard</h4>
    <div role="tabpanel">
        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="./{{user.uid}}/#account" aria-controls="home" role="tab" data-toggle="tab">Account</a></li>
            <li role="presentation"><a href="./{{user.uid}}/#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
            <li role="presentation"><a href="./{{user.uid}}/#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
            <li role="presentation"><a href="./{{user.uid}}/#courses" aria-controls="settings" role="tab" data-toggle="tab">Courses</a></li>
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="account">
                <h3>Welcome, {{user.fName}}</h3>
                <div>To get started select one of the tabs above.<br/>If you'd like to look over available courses and register to take any, click on the "Courses" Tab.<br/> Click on the messages tab to see any general site messages or to contact us directly.</div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                <h3>{{user.fName}} {{user.lName}}</h3>
                <h4>Email: {{user.email}}</h4>
                <h5>Last Logged on: {{user.lastLogon | date: format}} - {{}}</h5>
                <div class="row">
                    <div class="col-xs-2">
                        <button type="button" id="btnLogin" class="btn btn-info btn-block" disabled>Edit</button>
                    </div>
                </div>
                <hr/>
                <h4>Address:</h4>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages">
                <div class="col-md-6 col-xs-6 groupMessageArea">
                    <div ng-repeat="gmessage in groupMessage | orderBy: '-time' | limitTo:4">
                        <span><h3>{{gmessage.title}}</h3></span><br/>
                        <span>{{gmessage.time | date: 'MMM-d-yy h:mm'}}</span><br/>
                        <span><h4>{{gmessage.message}}</h4></span><br/>
                        <span>~<em>{{gmessage.author}}</em></span>
                        <hr/>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="courses">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                       <div><h2>My Courses</h2></div>
                       <div ng-repeat="course in courses">
                           <span><h3><strong>Course Number {{course.$id.split('course').join('')}}</strong> -- <em><a href="" ng-click="goToCourses(course.$id)">Take Course</a></em></h3></span>
                       </div>
                        <hr/>
                   </div>
                    <div class="col-xs-12 col-md-6">
                        <div><h2>All Site Available Courses</h2></div>
                        <div ng-repeat="course in courses">
                            <span><h3><strong>{{course.$id}}</strong> -- <em><input type="checkbox">Add this course to Basket</input></em> and here is some text to test the colum spans with bootstrap classes.</h3></span>
                        </div>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>