.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.modal {
    background-color: black;
}
html, body {
    width: 100%;
    height: 100%;
    /*padding-top: 15px;*/
}
.body {
    height: auto;
}
.loginTitle {
    padding-top: 15px;
}
.drpLogin {
    min-width: 375px;
}
.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse{
    max-height:600px;
}
.userContainer {
    font-size: 1.5em;
}