<div class="container">
    
    <h4>Admin View</h4>
    <div role="tabpanel">
        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="./{{user.uid}}/#Users" aria-controls="home" role="tab" data-toggle="tab">Users</a></li>
            <li role="presentation"><a href="./{{user.uid}}/#Mas_Messages" aria-controls="profile" role="tab" data-toggle="tab">Mas Messages</a></li>
            <li role="presentation"><a href="./{{user.uid}}/#User_Messages" aria-controls="messages" role="tab" data-toggle="tab">User Messages</a></li>
            <li role="presentation"><a href="./{{user.uid}}/#Create_Courses" aria-controls="settings" role="tab" data-toggle="tab">Create Courses</a></li>
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Users">
                <h3>Welcome, {{user.fName}}</h3>
                <div>To get started select one of the tabs above.<br/>If you'd like to look over available courses and register to take any, click on the "Courses" Tab.<br/> Click on the messages tab to see any general site messages or to contact us directly.</div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Mas_Messages">
                <div class="col-md-6 groupMessageArea">
                    <form name="gMessageForm" ng-submit="postGMessage(gmTitle, gmessage)">
                        <input name="title" id="title" type="title" placeholder="Message Title" ng-model="gmTitle" required></input><br/>
                        <textarea name="gmessage" id="gmessage" type="gmessage" placeholder="Group Message" ng-model="gmessage" required></textarea>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" id="btnLogin" class="btn btn-info btn-block" value="Post Message" ng-disabled="gMessageForm.$invalid"></input>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="User_Messages">
                Test 3
            </div>
            <div role="tabpanel" class="tab-pane" id="Create_Courses">
                Test 4
            </div>
        </div>
        
    </div>
</div>