<div class="container userContainer">
    
    <h4 class="loginTitle">Admin View</h4>
    <div role="tabpanel">
        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="./{{user.uid}}/#Users" aria-controls="home" role="tab" data-toggle="tab">Users</a></li>
            <li role="presentation"><a href="./{{user.uid}}/#Mas_Messages" aria-controls="profile" role="tab" data-toggle="tab">Mas Messages</a></li>
            <li role="presentation"><a href="./{{user.uid}}/#User_Messages" aria-controls="messages" role="tab" data-toggle="tab">User Messages</a></li>
            <li role="presentation"><a href="./{{user.uid}}/#Create_Courses" aria-controls="settings" role="tab" data-toggle="tab">Create Courses</a></li>
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Users">
                <h3>Welcome, {{user.fName}}</h3>
                <div>To get started select one of the tabs above.<br/>If you'd like to look over available courses and register to take any, click on the "Courses" Tab.<br/> Click on the messages tab to see any general site messages or to contact us directly.</div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Mas_Messages">
                <div class="row">
                    
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h2>Send message to all users:</h2>
                            <form name="gMessageForm" class="form" ng-submit="postGMessage(gmTitle, gmessage)">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label>Message Title</label>
                                        </div>
                                        <div class="col-xs-12">
                                            <input class="form-control" name="title" id="title" type="title" placeholder="Message Title" ng-model="gmTitle" required></input>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <textarea class="form-control" name="gmessage" id="gmessage" type="gmessage" placeholder="Group Message" ng-model="gmessage" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6 col-sx-6">
                                            <input type="submit" id="btnLogin" class="btn btn-info btn-block" value="Post Message" ng-disabled="gMessageForm.$invalid"></input>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div ng-repeat="gmessage in groupMessage | orderBy: '-time' | limitTo:3">
                            <span><h3>{{gmessage.title}}</h3></span><br/>
                            <span>{{gmessage.time | date: 'MMM-d-yy h:mm'}}</span><br/>
                            <span><h4>{{gmessage.message}}</h4></span><br/>
                            <span>~<em>{{gmessage.author}}</em></span>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="User_Messages">
                Test 3
            </div>
            <div role="tabpanel" class="tab-pane" id="Create_Courses">
                Test 4
            </div>
        </div>
        
    </div>
</div>