<!-- Login view -->
<li class="nav pull-right dropdown" id="menuLogin" ng-show="!loggedInUser">
    <a class="dropdown-toggle btn-group" href="#" data-toggle="dropdown" id="navLogin">Login</a>
    <div class="dropdown-menu" style="padding:10px; margin:10px" ng-click="$event.stopPropagation()">
        <form name="loginForm" class="form" id="formLogin" ng-submit="logIn(email, password)"> 
            <input name="Email" id="email" type="email" placeholder="Email" ng-model="email" required/> 
            <input name="password" id="password" type="password" placeholder="Password" ng-model="password" required/>
            <div class="row">
                <div class="col-xs-6">
                    <input type="submit" id="btnLogin" class="btn btn-info btn-block" ng-disabled="loginForm.$invalid" value="Login"></input>
                </div>
            </div>
        </form>
        <!-- Registration View -->
        <hr></hr><a href="" ng-click="showReg()"> New User? Click to register...</a>
        <form name="regForm" class="form" id="formRegister" ng-submit="register(emailr, passwordr)" ng-show="reg"> 
            <input name="fName" id="fName" type="fName" placeholder="First Name" ng-model="fName" required></input>
            <input name="lName" id="lName" type="lName" placeholder="Last Name" ng-model="lName" required></input>
            <input name="Email" id="email" type="email" placeholder="Email" ng-model="emailr" required/> 
            <input name="password" id="password" type="password" placeholder="Password" ng-model="passwordr" required/>
            <div class="row">
                <div class="col-xs-8">
                    <input type="submit" id="btnLogin" class="btn btn-info btn-block" value="Register" ng-disabled="regForm.$invalid"></input>
                </div>
            </div>
        </form>
    </div>
</li>


<!-- Logout View -->
<li class="nav pull-right dropdown" id="menuLogout" ng-show="loggedInUser">
    <a class="dropdown-toggle btn-group" href="#" data-toggle="dropdown" id="navLogout"><strong>Logged in as: {{loggedInUser.fName}}</strong></a>
    <div class="dropdown-menu" style="padding:10px; margin:10px">
        <a href="" ng-click="dashboard()">Dashboard</a><br /><hr></hr>
        <a href="" ng-click="isadmin(loggedInUser.role)" ng-show="loggedInUser.role === 'sAdmin' || loggedInUser.role === 'cService'">Admin</a><hr ng-show="loggedInUser.role === 'sAdmin' || loggedInUser.role === 'cService'"></hr>
        <a href="" ng-click="logOut()">Logout</a>    
    </div>
</li>