window.env = {
  'environment': 'development',
  'firebase': '11111111111111111111',
  'brandTitle': 'Go Sports!',
  'brandImg': ''  
};

//replace the value for the firebase key with your own firebase URL