<div class="container">
    <div class="text-center">
        <h1>{{courseTitle}}</h1>
        <em>Current Course Progress</em>
        <progressbar ng-if="max" value="percent * (pb)" type="success" class="progress-striped active">{{percent * (pb)}}%</progressbar>
        <hr/>
    </div>
    <div><h1>{{currentCourse[i].title}}</h1></div>
    <ul>
        <li>
            <h2>{{currentCourse[i].bullet1}}</h2>
        </li>
        <li>
            <h2>{{currentCourse[i].bullet2}}</h2>
        </li>
        <li>
            <h2>{{currentCourse[i].bullet3}}</h2>
        </li>
        <li>
            <h2>{{currentCourse[i].bullet4}}</h2>
        </li>
        <li>
            <h2>{{currentCourse[i].bullet5}}</h2>
        </li>
        <li>
            <h2>{{currentCourse[i].bullet6}}</h2>
        </li>
    </ul>
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <button type="button" id="btnLogin" class="btn btn-info btn-block" ng-click="backSlide()" ng-disabled="i <= 0">&lt; Previous</button>
        </div>
        <div class="col-xs-6 col-md-4">
            <button type="button" id="btnLogin" class="btn btn-info btn-block" ng-click="nextSlide()" ng-disabled="next===false" ng-if="counter!=='Finished!'">{{counter}} Next ></button>
            <button type="button" id="btnLogin" class="btn btn-info btn-block" ng-click="coursesPage()" ng-disabled="next===false" ng-if="counter==='Finished!'">{{counter}}</button>
        </div>
    </div>
</div>

<!-- Modal for Quizes goes here -->
<div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Test Your Knowledge</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <input class="btn btn-primary" ng-click="ok()" value="Submit"></input>
        </div>
    </script>
</div>