<div class="container">
    <div><h1>{{currentCourse[i].title}}</h1></div>
    <ul>
        <li>
            <h2>{{currentCourse[i].bullet1}}</h2>
        </li>
        <li>
            <h2>{{currentCourse[i].bullet2}}</h2>
        </li>
        <li>
            <h2>{{currentCourse[i].bullet3}}</h2>
        </li>
        <li>
            <h2>{{currentCourse[i].bullet4}}</h2>
        </li>
        <li>
            <h2>{{currentCourse[i].bullet5}}</h2>
        </li>
        <li>
            <h2>{{currentCourse[i].bullet6}}</h2>
        </li>
    </ul>
    <div class="col-xs-2">
        <button type="button" id="btnLogin" class="btn btn-info btn-block" ng-click="nextSlide()" ng-disabled="next===false" ng-if="counter!=='Finished!'">{{counter}}</button>
        <button type="button" id="btnLogin" class="btn btn-info btn-block" ng-click="coursesPage()" ng-disabled="next===false" ng-if="counter==='Finished!'">{{counter}}</button>
    </div>
</div>